/* popup.css */

/* Body and general styling */
body {
   margin: 0;
  padding: 0;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
   border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Input and button styling */
.exchange-rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

#targetCurrencyInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

#fetchExchangeRateButton {
  margin-top: 2rem;
  padding: 10px 20px;
  background-color:  #0f172a;  
  color: #fff;
  border: none;
   cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#fetchExchangeRateButton:hover {
  background-color: #4d5155;  
  transform: scale(1.05);  
}

/* Exchange rate result styling */
.exchange-rate-result {
  margin-top: 20px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#exchangeRate {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Country name display styling */
#countryNameDisplay {
  font-weight: bold;
  margin-top: 10px;
}
